<%= form_for(@address_book) do |f| %>
  <% if @address_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_book.errors.count, "error") %> prohibited this address_book from being saved:</h2>

      <ul>
      <% @address_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<script type="text/javascript">
function aaa(){
var xxx = document.getElementById("abcd").lastElementChild;


var exp = new RegExp("^[0-9]{9}$");

if(!exp.test(xxx.value)){
	
	alert("try again!");
	xxx.value="";
	xxx.focus();
}

}

</script>
  <div class="field">
    <%= f.label :First_name %><br>
    <%= f.text_field :contact_fname, placeholder: '请输入名' %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :contact_lname, placeholder: '请输入姓' %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
	<strong><p style="color: red"><%= f.label :利用Browser做Validation! %></p></strong>
    <%= f.email_field :email, placeholder: 'example@email.com' %><br>
    
  </div>
  <div class="field" id="abcd" onchange="aaa()">
    <%= f.label :phone %><br>
	<strong><p style="color: red"><%= f.label :利用Regex做Validation! %></p></strong>
    <%= f.text_field :phone, placeholder: '必须填9个数字！' %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address, placeholder: '输入地址' %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city, placeholder: '输入城市' %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, placeholder: '州' %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip, placeholder: '邮编' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
