<!DOCTYPE html>
<html>
<head>
  <title>Addressbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag '1' %>
  <%= javascript_include_tag '2' %>
  <script type="text/javascript" src="1.js"></script>
  <script type="text/javascript" src="2.js"></script>
</head>
<body>
	<canvas id="myCanvas"></canvas>
	
	<%= javascript_include_tag '3' %>
	<%= javascript_include_tag 'main' %>
	
	<% if current_user %> 
  <ul> 
    <li><%= current_user.email %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
  </ul> 
<% else %> 
  <ul> 
    <li><%= link_to "Login", 'login' %></a></li> 
    <li><%= link_to "Signup", 'signup' %></a></li> 
  </ul> 
<% end %>
	
<%= yield %>

</body>
</html>
